<div class="container jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">
    Welcome, oh great and mighty admin of the nerdy persuasion! We are thrilled
    to have you on board, and we know that your expertise and attention to
    detail will be an invaluable asset to our team. As a fellow lover of all
    things tech and geeky, we are excited to see what kind of magic you will
    bring to our digital kingdom. So let's fire up those servers, plug in those
    devices, and get to work on making our system run faster and smarter than
    ever before!
  </p>
  <hr class="my-4" />
  <p>
    Get back to work by checking on the following entities:
    <div class="row justify-content-center">
      <div class="colcol-xl-6 col-lg-5 col-md-4">
        <ul class="list-group">
          <a href="/admin/dashboard/human" class="list-group-item list-group-item-action">Humans</a>
          <a href="/admin/dashboard/admin" class="list-group-item list-group-item-action">Admins</a>
          <a href="/admin/dashboard/token" class="list-group-item list-group-item-action">Tokens</a>
          <a href="/admin/dashboard/car" class="list-group-item list-group-item-action disabled">Cars</a>
        </ul>
      </div>
    </div>
  </p>
</div>
